*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
    padding-bottom: 10px;
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

p {
    font-weight: 300;
}

.container {
    display: grid;
    grid-template:
        "sidebar header"
        "sidebar main";
        height: 100vh;
}

header {
    grid-area: header;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    align-items: end;
    gap: 15px;
    background-color: whitesmoke;
    padding: 20px 50px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.search-image{
    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.search-input {
    background-color: #e8e4f0;
    border: none;
    border-radius: 20px;
    width: 85%;
    padding: 5px;
}

.search-input:focus {
    outline: 2px solid #4d4363;
}

.person {
    justify-self: end;
    padding-right: 35px;
}

.person-notifications {
    width: 25px;
    vertical-align: middle;
}

.person-avatar {
    width: 50px;
    vertical-align: middle;
    margin: 0px 35px -5px;
}

.person-name {
    vertical-align: middle;
    font-size: 22px;
    font-weight: 600;
}

.greeting-avatar {
    width: 70px;
    vertical-align: bottom;
    margin-right: 15px;
}

.greeting-text {
    display: inline-block;
    font-weight: 600;
}

.greeting-name {
    font-size: 24px;
}

.buttons {
    justify-self: end;
}

.buttons > button {
    background-color: #4d4363;
    color: whitesmoke;
    padding: 10px 35px;
    border: none;
    border-radius: 30px;
    margin: 0px 15px 5px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #4d4363;
    min-width: 300px;
}

.sidebar-all {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    color: whitesmoke;
    padding: 20px;
    height: fit-content;
    position: fixed;
}

.sidebar-all > .sidebar-dashboard {
    width: 64px;
    margin-bottom: 60px;
}

.sidebar-all > .sidebar-communities {
    margin-bottom: 80px;
}

.sidebar-all > img {
    width: 32px;
    justify-self: center;
}

.sidebar-all > .sidebar-title {
    font-size: 32px;
    margin-top: 10px;
}

.sidebar-all > .sidebar-text {
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 20px;
}

main {
    grid-area: main;
    display: grid;
    grid-template:
        "projects projects projects announcements"
        "projects projects projects trending";
    gap: 0px 25px;
    background-color: #e8e4f0;
    padding: 25px 35px 25px 25px;
}

main > .projects {
    grid-area: projects;
}

.project-items {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 35px 30px;
}

.project {
    display: grid;
    grid-template-areas:
        "project-text"
        "project-icons";
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 25px 25px 0px;
    background: linear-gradient(to right, #58bf5f 10px, whitesmoke 10px);
    box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.5);
}

.project-text {
    grid-area: project-text;
}

.project-icons {
    grid-area: project-icons;
    text-align: end;
    align-self: end;
}

.project-icons > .icon {
    width: 30px;
    height: 30px;
    margin: 0px 15px 20px;
}

main > .announcements {
    grid-area: announcements;
}

.announcement-items,
.trending-items {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 3px 1px 9px rgba(0, 0, 0, 0.5);
}

.announcement-1,
.announcement-2 {
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px;
}

.announcement > p {
    font-size: 13px;
    margin-bottom: 10px;
}

main > .trending {
    grid-area: trending;
    align-self: end;
}

.trending-avatar {
    width: 50px;
    vertical-align: bottom;
}

.trending-person {
    display: inline-block;
    margin-left: 15px;
}

.trend-1,
.trend-2,
.trend-3 {
    padding-bottom: 20px; 
}